.section {
  width: 600px;
  height: 860px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 8px;
  max-height: calc(100vh - 515px);
}

.ingredientCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  column-gap: 13px;
  padding: 0 24px 10px 0;
}

.lastIngredientCon {
  padding: 10px 24px 0 0;
}

.order {
  composes: ingredientCon;
}